@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  overflow-y: scroll;
  /* Always reserve scrollbar space */
}

p {
  margin-bottom: 1em;
}

a,
svg {
  color: darkred;
}

.dark a,
.dark svg {
  color: khaki;
}

main a {
  text-decoration: underline;
}

.bookslist a {
  text-decoration: none;
}

h2 {

}
