---
title: Écran
layout: layouts/base.njk
meta: La liste des films et séries que j'ai regardé récemment
permalink: /ecran/
tags: pages
eleventyNavigation:
  key: Écran
  order: 3
---
{% set movieslist = collections.movies %}
{% include "components/movieslist.njk" %}
