---
title: Lecture
layout: layouts/base.njk
meta: La liste des livres que j'ai lu récemment
permalink: /lecture/
tags: pages
eleventyNavigation:
  key: Lecture
  order: 2
---
{% set bookslist = collections.books %}
{% include "components/bookslist.njk" %}
