---
title: Sélection
layout: layouts/base.njk
permalink: /work/
eleventyNavigation:
  key: Travaux
  order: 1
---

<a href="/docs/guillaume-cambon-cv.pdf" target="_blank">Curriculum Vitae</a>

<h2 class="text-2xl mb-6 mt-12">Olympique de Marseille : Site Officiel</h2>
<ul>
  <li class="list-disc"><a href="https://www.om.fr/" target="_blank">Site</a></Li>
  <li class="list-disc">Consultant Web</li>
  <li class="list-disc">Architecture, mise en place monitoring, optimisation (Drupal, React, PSH)</li>
  <li class="list-disc">+54% performance</li>
</ul>

<h2 class="text-2xl mb-6 mt-12">Believe Music : Site Corporate</h2>
<ul>
  <li class="list-disc"><a href="https://www.believe.com/" target="_blank">Site</a></Li>
  <li class="list-disc">Direction technique</li>
  <li class="list-disc">Développement CMS (Drupal)</li>
  <li class="list-disc">Multilingue</li>
</ul>

<h2 class="text-2xl mb-6 mt-12">Biomérieux : Industry</h2>
<ul>
  <li class="list-disc"><a href="https://www.biomerieux-industry.com/fr" target="_blank">Site</a></Li>
  <li class="list-disc">Direction technique</li>
  <li class="list-disc">Développement CMS (Drupal)</li>
  <li class="list-disc">Multilingue, traduction asynchrone (TMGMT)</li>
</ul>

<h2 class="text-2xl mb-6 mt-12">Amnesty International : Portail Allemagne</h2>
<ul>
  <li class="list-disc"><a href="http://amnesty.de" target="_blank">Site</a> | <a href="https://www.drupal.org/case-study/amnestyde-upgrading-and-enhancing-the-dxp-for-amnesty-deutschland" target="_blank">Étude de cas</a></Li>
  <li class="list-disc">Développement CMS (Drupal)</li>
  <li class="list-disc">Migration de contenu</li>
</ul>

<h2 class="text-2xl mb-6 mt-12">UNESCO : Éducation pour le développement durable</h2>
<ul>
  <li class="list-disc"><a href="https://www.bne-portal.de" target="_blank">Site</a></Li>
  <li class="list-disc">Développement CMS (Drupal)</li>
</ul>
