---
title: Bienvenue
layout: layouts/base.njk
---

<div class="space-y-8">
  <div class="mx-auto max-w-md md:max-w-3xl">
    <div class="md:flex">
      <img
        class="md:w-[50%] mb-8 md:mb-0 object-cover"
        src="/img/me.jpg"
        alt="Modern building architecture"
      />
      <div class="md:px-8">
          <p>Bonjour, je suis Guillaume. Je suis un développeur web et musicien vivant actuellement à Lyon.</p>
          <p> Cela fait plus de 16 ans que je construit des sites internet, avec un focus tout particulier sur les sites de contenus à fort traffic, pour des clients tels qu'Amnesty International, UNESCO, BMW, Biomérieux.</p>
          <p>Je travaille actuellement en freelance. Mon champ d'action est vaste, mais je me spécialise notamment sur <a href="https://www.drupal.org/u/oeklesund" target="_blank">Drupal</a> (certifié Acquia) et Wordpress, que cela soit sur la partie back, front ou devops.</p>
          <p>N'hésitez pas à me dire <a href="mailto:bonjour@guillaumecambon.com">bonjour</a>.</p>
      </div>
    </div>
  </div>
</div>
